<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" (click)="availabilityClicked.emit(element)">
      @switch (element.availability) {
      @case (availability.AVAILABLE) {
      <span class="action-icon available">
        <mat-icon class="tab-icon">
          add-circle
        </mat-icon>
      </span>
      }
      @case (availability.TRANSFER) {
      <span class="action-icon transfer">
        <mat-icon class="tab-icon">
          compare_arrows
        </mat-icon>
      </span>
      }
      @default {
      <span class="action-icon same-team">
        <mat-icon class="tab-icon">
          lock
        </mat-icon>
      </span>
      }
      }
    </td>
  </ng-container>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element" (click)="positionClicked.emit(element)">
      <span class="action-icon position">
        {{element.position}}
        <!-- @if (element.position==='Hd') {
          <span>
            <mat-icon class="tab-icon">
              pan_tool
            </mat-icon>
          </span>
        } @else {
          <span *ngIf="element.position=='Ct'">
            <mat-icon class="tab-icon run">
              directions_run
            </mat-icon>
          </span>
        } -->
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef sticky> Name </th>
    <td mat-cell *matCellDef="let element">
      <div class="name-container">
        <img class="profile-image" [src]="element.profileImage" />
        <div class="player-info">
          <span class="name">{{element.name}}</span>
          <span>Wrocław Południe</span>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> PTS </th>
    <td mat-cell *matCellDef="let element"> {{element.points}} </td>
  </ng-container>

  <ng-container matColumnDef="assists">
    <th mat-header-cell *matHeaderCellDef> AST </th>
    <td mat-cell *matCellDef="let element"> {{element.assists}} </td>
  </ng-container>

  <ng-container matColumnDef="fpts">
    <th mat-header-cell *matHeaderCellDef> FPts </th>
    <td mat-cell *matCellDef="let element"> 2 </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked.emit(row)"></tr>
</table>
