:host{
  margin-top: 4rem;
}
.profile-image{
  border-radius: 50%;
  width: 50px;
  object-fit: cover;
  height: 50px;
}
.name-container{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
}
.action-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 500;
  height: 34px;
  width: 34px;
}
.position{
  color: #2160eb;
  border: #2160eb 1px solid;
  mat-icon{
    height: 19px;
    width: 19px;
    font-size: 19px;
    margin-right: 4PX;
  }
  .run{
    height: 24px;
    width: 24px;
    font-size: 24px;
    margin: 0;
  }
}
.availability{
  color: #06b440;
  border: #06b440 1px solid;
}

.player-info{
  padding-left: 10px;
}
.name{
  padding-bottom: 5px;
  display: block;
}
