@import '/src/variables.scss';

:host{
  height: 100%;
  max-width: $max-app-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
mat-tab-group{
  height: 100%;
}
mat-tab-body{
  width: 100vw;
}
app-team-grid{
  flex-grow: 1;
}
.tab-label{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label, .tab-icon{
  display: block;
}
.tab-icon{
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}
.label{
  font-size: small;
}
h4{
  margin-top: 0;
}
.header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: $max-app-width;
  width:100%;
  top:0;
  background: #f17016;
  position: fixed;
  z-index: 2;
  color: white;
  h5{
    font-weight: 500;
    margin: 0.2rem;
  }
  h4{
    margin: 0.2rem;
    font-weight: 500;
  };
}
