:host {
  text-align: center;
  color: black;
}
p{
  padding: 0.6rem;
}
.mdc-dialog__title{
  font-size: larger;
}
.mdc-dialog__content {
  color: black;
}
.mat-mdc-dialog-content{
  padding: 0;
  max-height: unset;
}
