<div class="header">
  <mat-icon>settings</mat-icon>

  <div>
    <h4>My team</h4>
    <h5>Liga Przyjaciół Frisbee</h5>
  </div>
  <mat-icon>info</mat-icon>

</div>
<mat-tab-group class="app-header">
  <mat-tab label="My team">
    <ng-template mat-tab-label>
      <div class="tab-label">
        <mat-icon class="tab-icon">groups</mat-icon>
        <span class="label">My team</span>
      </div>
    </ng-template>
    <div class="formation-container">
      <h5>choose formation for your team:</h5>
      <mat-form-field>
        <mat-select [formControl]="formation" matNativeControl required (valueChange)="changeFormation()">
          @for(formation of formations; track formation) {
          <mat-option [value]="formation">{{formation}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <h4>Players</h4>
    @if (formation.value) {
    <app-team-grid [formation]="formation.value"></app-team-grid>
    }
  </mat-tab>
  <mat-tab label="Players">
    <ng-template mat-tab-label>
      <div class="tab-label">
        <mat-icon class="tab-icon">person</mat-icon>
        <span class="label">Players</span>
      </div>
    </ng-template>

  </mat-tab>
  <mat-tab label="League">
    <ng-template mat-tab-label>
      <div class="tab-label">
        <mat-icon class="tab-icon">bookmark</mat-icon>
        <span class="label">League</span>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
