/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
html,
body {
  height: 100%;
  max-width: $max-app-width;
  width: 100%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-header {
  flex-direction: column-reverse !important;

  .mat-mdc-tab-header {
    bottom: 0;
    z-index: 2;
    background-color: white;
    max-width: $max-app-width;
    width: 100%;
    margin: auto;
    height: 4rem;
  }
  .mat-mdc-tab-body-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow: auto;
  }
  .mat-mdc-tab-body-content {
    overflow: initial;
  }
  .mat-mdc-tab-body.mat-mdc-tab-body-active {
    overflow: initial;
  }
  .mat-mdc-tab-body {
    padding-top: 5rem;
  }
  app-my-team {
    .mat-mdc-tab-body.mat-mdc-tab-body-active {
      padding-bottom: 4rem;
    }
  }
  .mat-mdc-tab:not(.mdc-tab--stacked) {
    height: 4rem;
  }
  .mat-mdc-table-sticky {
    top: 4rem !important;
  }
  .mat-mdc-table {
    box-shadow: unset;
  }
}
.move-player-dialog {
  align-self: flex-end;
  height: 80%;
  width: 100%;
  max-width: unset;
}

.mat-mdc-dialog-container {
  left: unset;
  max-width: $max-app-width !important;
  margin: auto;
}
